
/* picture rules*/

img {
    display: block;
    margin-bottom: 15px;
    max-width: 100%;
    height: 100%;
}

.image-hero{
    position: relative;
    width: calc(100% + 2.25em * 2);
    margin: 1em 0 0 -2.25em;
    overflow: hidden;
}

body{
    background-color:#F4F4F4;
    margin: 2.25em;
    text-wrap: balance;
}
/* 1 em = 16px*/
/* Other CSS rules here */
h1{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 3em;
    line-height: 110%;
    margin:0;
    color: #393C5E;
}

h2{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    margin: 1em 0 0 0;
    color: #393C5E;
}

h3{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1em; 
}

p{
font-family:'Open Sans', Arial, Helvetica, sans-serif;
font-size: .85em;
font-weight: 300;
line-height: 200%;
margin: 0.25em 0 1em;
color: #4D4E52;
}

/* Color Coordinated h2s */
/* pu-h2 is publication project h2s */
/* b-h2 is brand identity project h2s */
/* po-h2 is poster design project h2s */
/* t-h2 is typography project h2s */
/* hometitle is homepage h1*/

.pu-h2, .hometitle{
    color:#3EAF7F;
}

.b-h2{
    color: #C67BF4;
}

.po-h2{
    color: #EC7E4F;
}

.t-h2{
    color:#FF5858;
}
