
/* picture rules*/
img {
    display: block;
    margin-bottom: 15px;
    max-width: 100%;
    height: 100%;
}

.image-hero{
    position: relative;
    width: calc(100% + 2.25em * 2);
    margin: 1em 0 0 -2.25em;
    overflow: hidden;
}

.home-image-hero{
    position: relative;
    width: calc(100% + 2.25em * 2);
    margin: 1em 0 0 -2.25em;
    overflow: hidden;
}

body{
    background-color:#F4F4F4;
    margin: 8em 2.25em 0 2.25em;
    text-wrap: balance;
}
/* units - 1 em = 16px*/

/* footer and navigation rules */
.navbar {
    background-color:#FFFFFF ;
    padding: 20px;
    width: 320px;
    height: 4.375em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the navigation bar stays on top of other elements */
}



.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width:320px;
    margin: 0 0 0 -2.25em;
    background-color: #C67BF4; /* Choose your background color */
    color: #F4F4F4; /* Choose your text color */
    text-align: center;
    padding: 5px; /* Adjust padding as needed */
}


/*heading and typography rules here*/
h2{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    margin: 1em 0 0 0;
    color: #393C5E;
}

h3{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.35em; 
    text-align: center;
    text-decoration: none;
}

h4{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5em; 
    margin: .25em 0 1.5em 0;
    text-align: center;
}

a{
    text-decoration: none;
}


p{
font-family:'Open Sans', Arial, Helvetica, sans-serif;
font-size: .85em;
font-weight: 300;
line-height: 200%;
margin: 0.25em 0 1em;
color: #4D4E52;
}


h1{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 3em;
    line-height: 110%;
    margin:0;
    color: #393C5E;
}

/*home page title styling, mostly word specifics*/
    .home-title{
    font-size: 2.75em;
    }

    .home-title-2{
        font-size: 4.45em;
    }

    .home-name-2{
        font-size: 2.45em;
    }

    .home-name-2, .home-title-2{
        line-height: 80%;
        margin-bottom: .5em;
    }

    .home-name, .home-name-2, .home-title, .home-title-2{
        text-align: center;
    }

/* Color Coordinated h2s */
/* pu-h2 is publication project h2s */
/* b-h2 is brand identity project h2s */
/* po-h2 is poster design project h2s */
/* t-h2 is typography project h2s */
/* hometitle is homepage h1*/

.pu-h2, .home-title, .home-title-2{
    color:#3EAF7F;
}

.b-h2{
    color: #C67BF4;
}

.po-h2{
    color: #EC7E4F;
}

.t-h2{
    color:#FF5858;
}
